<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav>
        <section class="flex_content">
            <strong class="logo"><em class="stroke">Andres</strong>
            
            <a href="{{ url_for('items_list') }}">Ver Lista de Productos</a>
            <a href="{{ url_for('create_item') }}">Crear Nuevo Producto</a><br>      
            <a href="{{ url_for('ver_layout') }}">Ver layout</a><br>         

        </section>
    </nav>
    <div class="overlap">
        <h1><span class="highlightme">Projecte M12</span></h1>
        <form method="GET" action="/hello">
            <button type="submit" class="btn">Saluda!</button>
            <img class="img-port" src="../static/img/flask-intro.jpg">
        </form>
    </div>
</body>
</html>