<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav>
        <section class="flex_content">
            <strong class="logo"><em class="stroke">And</em>res<em>.</em></strong>
            <a href="/product/create">Registro Productos</a>
            <a href="/items/list">Lista Productos</a>
        </section>
    </nav>
    <div class="overlap">
        <h1><span class="highlightme">Projecte Flask M12</span></h1>
        <form method="GET" action="/hello">
            <button type="submit" class="btn">Saluda!</button>
            <img class="img-port" src="../static/img/flask-intro.jpg">
        </form>
    </div>
</body>
</html>